<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title> Главная </title>
    <!-- Styles -->
    <link type="text/css" href="../css/style.css?v=1.0" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div style="flex: 1 1 100%;"></div>
        <a class="navbar-brand zoom" th:href="@{/}" style="color: #ff7f50;">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav zoom">
                <li><a class="nav-link" th:href="@{/entrance}" style="color: #ff7f50;">Вход</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br><br>
            <h1 class="block-title text-align-center"><span
                    class="side-img left-side-img"><i></i><i></i><i></i></span> Меню <span
                    class="side-img right-side-img"><i></i><i></i><i></i></span></h1>
            <br><br><br>
            <div id="menu-list">
                <template v-for="item in vItems">
                    <h4 class="block-title text-align-center mb-5"><span
                            class="side-img left-side-img"><i></i><i></i><i></i></span> {{ item.categoryName }} <span
                            class="side-img right-side-img"><i></i><i></i><i></i></span></h4>
                    <div class="menu-list mb-5">
                        <div class="menu-card" v-for="item in item.dishes" :key="item.id"
                             :style="`background-image:url(&quot;${item.imagePath || '/images/dish-loading.gif'}&quot;); ${item.imagePath!=null ? 'background-size: cover':''}`">
                            <h5 class="menu-card-title">{{ item.name }}</h5>
                            <span class="menu-card-price">{{ item.price }} ₴</span>
                            <div class="menu-card-description">
                                <p class="card-subtitle mb-2 text-muted">{{ item.name }}</p>
                                <p class="card-text">{{ item.weight }} г</p>
                                <p class="card-text">{{ item.ingredients }}</p>
                            </div>
                        </div>
                    </div>
                </template>

            </div>

        </div>
    </div>
</div>
<!-- Banner Section Ends -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#menu-list',
        data: {
            items: [],
            categories: []
        },
        created() {
            fetch('/api/categories')
                .then(r => r.json())
                .then(data => this.categories = data);
            fetch('/api/menu')
                .then(r => r.json())
                .then(data => this.items = data)
        },
        computed: {
            vItems() {
                return this.categories
                    .sort((a, b) => a.categoryOrder < b.categoryOrder)
                    .filter(category => this.items.some(item => item.categoryId === category.id))
                    .map(category => ({
                        categoryName: category.name,
                        dishes: this.items.filter(item => item.categoryId === category.id)
                    }))
            }
        }
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
</body>
</html>
