<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head(~{::title}, ~{})">
    <title> Изменение данных блюда </title>
</head>
<body class="creamBg">
<th:block th:replace="fragments :: navbar"/>

<section class="reservation-block pad-top-100 pad-bottom-100">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br>
                <th:block th:replace="fragments :: headline('Изменение данных блюда')"/>
                <h4 class="block-title text-align-center">
                    Измените необходимые поля и нажмите кнопку 'Сохранить блюдо'
                </h4>
                <form enctype="multipart/form-data" method="post" th:action="@{/dish_update}" th:object="${dish}">
                    <input class="form-control" id="id" th:field="*{id}" th:value="${dish.id}" type="hidden">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name">Название блюда</label>
                                <input class="form-control" id="name" placeholder="" required
                                       th:field="*{name}"
                                       th:value="${dish.name}" type="text">
                                <small class="text-danger" th:errors="*{name}"
                                       th:if="${#fields.hasErrors('name')}"></small>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="weight">Вес</label>
                                <input class="form-control" id="weight" placeholder="" required
                                       th:field="*{weight}"
                                       th:value="${dish.weight}" type="number">
                                <small class="text-danger" th:errors="*{weight}"
                                       th:if="${#fields.hasErrors('weight')}"></small>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="price">Цена</label>
                                <input class="form-control" id="price" required th:field="*{price}"
                                       th:value="${dish.price}" type="number">
                                <small class="text-danger" th:errors="*{price}"
                                       th:if="${#fields.hasErrors('price')}"></small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <label for="ingredients">Ингредиенты</label>
                                <input class="form-control" id="ingredients" th:field="*{ingredients}"
                                       th:value="${dish.ingredients}" type="text">
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="category">
                                    <a style="color: black; text-decoration: underline" th:href="@{/categories}">
                                        Категория<img alt="gear icon" height="20px" src="../images/conf.png"
                                                      style="margin-left: 5px;" width="20px">
                                    </a>
                                </label>
                                <select class="form-control" id="category" name="categoryId"
                                        th:default="${dish.getCategoryId()}">
                                    <option th:each="cat : ${categories}"
                                            th:text="${cat.name}" th:value="${cat.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 mb-3" for="inputFile">
                                <div class="up mb-1">Изображение блюда</div>
                                <div class="image-box zoom"
                                     th:styleappend="${dish.imagePath}==null?'':('background-image: url('+${dish.imagePath}+')')"></div>
                            </label>

                            <div class="col-md-8 mb-3" style="display: flex">
                                <input aria-describedby="inputFileButton" aria-label="Upload"
                                       class="form-control" style="display: inline-block;align-self: flex-end"
                                       id="inputFile"
                                       name="file" placeholder="Выберите изображение"
                                       type="file">
                            </div>
                            <input name="imagePath" th:value="${dish.imagePath}" type="hidden">
                        </div>
                        <hr class="mb-4">
                        <div class="d-flex">
                            <div style="flex: 1"></div>
                            <button class="btn btn-outline-secondary mx-1" style="margin-right: 1rem;" type="submit"
                                    value="Submit">Отключить
                            </button>
                            <button class="btn btn-warning mx-1" style="margin-right: 1rem;" type="submit"
                                    value="Submit">Сохранить блюдо
                            </button>

                            <button class="btn btn-danger" th:onclick="'javascript:sure(\'' + ${dish.id} + '\');'"
                                    type="button">Удалить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function sure(id) {
        let sured = confirm("Вы уверены, что хотите удалить блюдо?");
        if (sured) {
            // form.submit();
            document.location.href = "dish_remove?id=" + id;
        }
    }
</script>

</body>
</html>