<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head(~{::title}, ~{})">
    <title> Изменение категории блюда </title>
</head>
<body id="mainBox" class="creamBg" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="150">
<div id="site-head">
    <!-- Header Section Begins -->
    <th:block th:replace="fragments :: navbar"/>
    <!-- Header Section Ends -->

    <section class="reservation-block pad-top-100 pad-bottom-100">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br>
                    <th:block th:replace="fragments :: headline('Изменение категории блюд')"/>
                    <h4 class="block-title text-align-center">Измените, если это нужно, название категории и нажмите
                        кнопку 'Сохранить'</h4>
                    <br>
                    <form enctype="multipart/form-data" th:action="@{/category_update}" th:object="${category}"
                          method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" id="id" th:field="*{id}" th:value="${category.id}"
                                       type="hidden">
                                <div class="row">
                                    <div class="col mb-4">
                                        <h4><label for="name">Название категории</label></h4>
                                        <input th:field="*{name}" type="text" class="form-control" id="name"
                                               placeholder=""
                                               th:value="${category.name}" required>
                                        <small class="text-danger" th:if="${#fields.hasErrors('name')}"
                                               th:errors="*{name}"></small>
                                        <h4><label for="categoryOrder">Порядок для сортировки</label></h4>
                                        <input class="form-control" id="categoryOrder" name="categoryOrder"
                                               placeholder=""
                                               th:field="*{categoryOrder}" th:value="${category.categoryOrder}"
                                               type="number">
                                        <small class="text-danger" th:errors="*{categoryOrder}"
                                               th:if="${#fields.hasErrors('categoryOrder')}"></small>
                                    </div>

                                    <hr class="mb-4">
                                    <div class="d-flex">
                                        <div style="flex: 1"></div>
                                        <button class="btn btn-warning mx-1" type="submit"
                                                value="Submit">
                                            Сохранить
                                        </button>

                                        <button class="btn btn-danger"
                                                th:onclick="'javascript:sure(\'' + ${category.id} + '\');'"
                                                type="button">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function sure(id) {
        var sured = confirm("Вы уверены, что хотите удалить категорию?");
        if (sured) {
            // form.submit();
            document.location.href = "category_remove?id=" + id;
        }
    }
</script>
</body>
</html>