<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments::head_datatable(~{::title}, ~{::script})">
    <title>Меню</title>
    <script type="text/javascript" src="../js/table-sorting.js"></script>
</head>

<body id="mainBox" class="creamBg">
<div id="site-head">
    <th:block th:replace="fragments :: navbar"/>

    <section class="reservation-block pad-top-100 pad-bottom-100">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br>
                    <th:block th:replace="fragments :: headline('Меню')"/>

                    <div class="d-grid col-12 gap-md-2 col-md-3 mx-auto">
                        <a th:href="@{/add_dish}" class="btn btn-block orange-btn empty-btn" role="button"
                           aria-disabled="true" sec:authorize="hasRole('ROLE_ADMIN')">
                            Добавить блюдо
                        </a>
                    </div>
                    <br>
                    <h4 class="block-title text-align-center" sec:authorize="hasRole('ROLE_ADMIN')">
                        Для редактирования конкретного блюда меню, выберите его в списке ниже<i></i><i></i><i></i>
                    </h4>
                    <br sec:authorize="hasRole('ROLE_ADMIN')"><br sec:authorize="hasRole('ROLE_ADMIN')">
                    <form class="reservation-block">
                        <div class="table-responsive">
                            <table id="table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-justify">#</th>
                                    <th class="text-justify">#</th>
                                    <th class="text-justify">Название</th>
                                    <th class="text-justify">Категория</th>
                                    <th class="text-justify">Порция (г)</th>
                                    <th class="text-justify">Цена (грн)</th>
                                    <th class="text-justify">Состав</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dish, state : ${dishes}"
                                    th:style="${#authorization.expression('hasRole(&quot;ROLE_ADMIN&quot;)')}?'cursor: pointer':''"
                                    th:onclick="${#authorization.expression('hasRole(&quot;ROLE_ADMIN&quot;)')}?'javascript:rowClicked(\'' + ${dish.id} + '\');':''">

                                    <!--<td class="align-middle"><span th:text="${dish.id}"/></td>-->
                                    <td class="align-middle"><span th:text="${state.count}"></span></td>
                                    <td class="align-middle"><img class="image"
                                                                  style="width: 25px; height: 25px; display: block; "
                                                                  th:src="${dish.imagePath}" alt=""></td>
                                    <td class="align-middle"><span th:text="${dish.name}"></span></td>
                                    <td class="align-middle"><span th:text="${dish.category}"></span></td>
                                    <td class="align-middle"><span th:text="${dish.weight}"></span></td>
                                    <td class="align-middle"><span th:text="${dish.price}"></span></td>
                                    <td class="align-middle"><span th:text="${dish.ingredients}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS-->
<script>
    function rowClicked(value) {
        location.href = "dish_edit?id=" + value;
    }
</script>
</body>
</html>