<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head_datatable(~{::title}, ~{::style})">
    <title>Заказы</title>
    <style>
        .b-popup {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: fixed;
            top: 0;
            backdrop-filter: blur(2px);
        }

        .b-popup .b-popup-content { /*настройки формы*/
            margin: auto;
            width: 500px;
            height: auto;
            padding: 1.5rem;
            background-color: #fdfdfd; /*заливка формы*/
            border-radius: 15px;
            box-shadow: 0 0 10px #000; /*тень от всплывающего окна*/
            max-height: 79vh;
            overflow-y: auto;
        }

        @media (max-width: 480px) {
            .b-popup .b-popup-content {
                width: 95%;
                max-height: 65vh;
            }

            .table > :not(caption) > * > * {
                padding: 0.25rem 0.25rem;
            }
        }
    </style>
</head>

<body id="mainBox" class="creamBg" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="150">
<!--<script type="text/javascript" src="../js/table-sorting.js"></script>-->
<div id="app">
    <!-- Header Section Begins -->
    <th:block th:replace="fragments :: navbar"/>
    <!-- Header Section Ends -->

    <section class="reservation-block pad-top-100 pad-bottom-100">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br>
                    <th:block th:replace="fragments :: headline('Заказы')"/>
                    <h4 class="block-title text-align-center">
                        Для редактирования конкретного заказа, нажмите на него в списке ниже.
                        <br>
                    </h4>
                    <div class="row d-flex flex-row justify-content-between">
                        <form action="/orders" class="mb-2 col-8 row" enctype="multipart/form-data" id="intervalForm"
                              method="get">
                            <label class="" for="range">Заказы за период:</label>
                            <div class="col-5" id="range">
                                <label for="datetimeFrom">с</label>
                                <input class="form-control" id="datetimeFrom"
                                       name="datetimeFrom"
                                       @change="isChangedRange = true;" type="datetime-local" v-model="datetimeFrom">
                            </div>
                            <div class="col-5">
                                <label for="datetimeTo">по</label>
                                <input class="form-control col-4"
                                       id="datetimeTo" name="datetimeTo"
                                       @change="isChangedRange = true;" type="datetime-local" v-model="datetimeTo">
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-end">
                                <button :disabled="!isChangedRange" @click="refreshOrders"
                                        class="btn btn-outline-secondary btn-md d-flex align-items-center"
                                        type="button">
                                    <svg class="bi bi-check-square" fill="currentColor" height="25" viewBox="0 0 16 16"
                                         width="25" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-1 d-flex align-items-end"><a class="btn btn-outline-secondary btn-md"
                                                                         href="/orders">Сегодня</a></div>
                        </form>
                        <div class="col-4 mb-2 d-flex align-items-end justify-content-end">
                            <a :href="`/order/new`" aria-disabled="true"
                               class="btn btn-block orange-btn empty-btn" role="button">
                                Добавить заказ
                            </a>
                        </div>
                    </div>
                    <form class="reservation-block">
                        <div class="table-responsive">
                            <table id="table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-justify">Код</th>
                                    <th class="text-justify">Стол</th>
                                    <th class="text-justify">Блюда</th>
                                    <th class="text-justify">Счёт</th>
                                    <th class="text-justify" rowspan="2"></th>
                                </tr>
                                <tr>
                                    <th class="text-justify text-align-center" colspan="2">Оформлен</th>
                                    <th class="text-justify">Комментарий</th>
                                    <th class="text-justify">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template v-for="order in orders">
                                    <tr :key="order.id" @click="editOrder(order.id)" class="border-top"
                                        style="cursor: pointer">
                                        <td class="align-middle text-align-center"><span v-text="order.id"></span></td>
                                        <td class="align-middle text-align-center"><span style="font-weight: bold"
                                                                                         v-text="order.tableNum"></span>
                                        </td>
                                        <td class="align-middle"><span v-text="order.dishNames"></span></td>
                                        <td class="align-middle"><span style="font-weight: bold"
                                                                       v-text="order.cost+'₴'"></span></td>
                                        <td @click.stop="deleteOrder(order.id)" class="text-center align-middle"
                                            rowspan="3">
                                            <!--                                        <button  class="btn btn-primary" style="" >Отменить</button>-->
                                            <!--                                        альтернатива - иконка крестика-->
                                            <svg class="bi bi-x-square-fill" fill="currentColor" height="1.5em"
                                                 style="display: inline; cursor: pointer"
                                                 viewBox="0 0 16 16" width="1.5em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                      d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm9.854 4.854a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z"
                                                      fill-rule="evenodd"/>
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr @click="editOrder(order.id)" style="cursor: pointer">
                                        <td class="align-middle text-align-center" colspan="2"><span
                                                v-text="formatDate(order.dateOrdered)"></span></td>
                                        <td class="align-middle"><span v-text="order.comments"></span></td>
                                        <td class="align-middle"><span v-text="order.statusDescription"></span></td>
                                    </tr>

                                </template>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {

            orders: [],
            datetimeFrom: '',
            datetimeTo: '',
            isChangedRange: false,
        },
        async created() {
            await this.refreshOrders();
        },
        methods: {
            async refreshOrders() {
                const params = new URLSearchParams();
                this.datetimeFrom && params.set('datetimeFrom', this.datetimeFrom);
                this.datetimeTo && params.set('datetimeTo', this.datetimeTo);
                const response = await fetch(`/api/orders?${params.toString()}`)
                this.orders = await response.json();
            },
            editOrder(orderId) {
                location.href = `/order/${orderId}`;
            },
            async deleteOrder(orderId) {
                const c = confirm("Вы уверены, что хотите удалить заказ №" + orderId + "? Это действие невозможно отменить!");
                if (c) {
                    await fetch('/api/order?id=' + orderId, {
                        method: 'DELETE',
                        headers: {
                            'X-XSRF-TOKEN': document.querySelector("meta[name='_csrf']").getAttribute('content')
                        },
                    })
                    this.refreshOrders();
                }
            },
            formatDate(ts) {
                const d = new Date(ts);
                const options = {
                    weekday: 'short', // "narrow", "short", "long"
                    year: '2-digit', // "numeric", "2-digit"
                    month: '2-digit', // "numeric", "2-digit", "narrow", "short", "long"
                    day: '2-digit', // "numeric", "2-digit"
                    hour: '2-digit', // "numeric", "2-digit"
                    minute: '2-digit', // "numeric", "2-digit"
                    // second: '2-digit' // "numeric", "2-digit"
                };
                let str = d.toLocaleString('ua-UA', options);
                return str.substring(3, 13).concat(str.charAt(0).toUpperCase().concat(str.substring(1, 2))).concat(str.substring(16));
            },

        }
    })
</script>
</body>
</html>