<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head_datatable(~{::title}, ~{::style})">
    <title>Отчет</title>
    <style>
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 100%;
            position: fixed;
            bottom: 0;
            background: rgba(128, 128, 128, 0.42);
        }
    </style>
</head>
<body class="creamBg" data-offset="150" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" id="mainBox">

<div id="site-head">
    <!-- Header Section Begins -->
    <th:block th:replace="fragments :: navbar"/>
    <!-- Header Section Ends -->

    <section class="reservation-block pad-top-100 pad-bottom-100">
        <th:block th:replace="fragments :: headline('Отчет по продажам')"/>
        <form class="mb-2" enctype="multipart/form-data" method="get" th:action="@{/report}">
            <div class="container-md">

                <div class="row col-md-12">
                    <div class="row col-5">
                        <label class="" for="range">Отчет за период:</label>
                        <div class="col-6" id="range">
                            <label for="datetimeSince">с</label>
                            <input class="form-control" id="datetimeSince"
                                   name="datetimeSince"
                                   th:value="${datetimeSince}"
                                   type="datetime-local">
                        </div>
                        <div class="col-6">
                            <label for="datetimeTill">по</label>
                            <input class="form-control col-4"
                                   id="datetimeTill" name="datetimeTill"
                                   th:value="${datetimeTill}" type="datetime-local">
                        </div>
                    </div>


                    <div class="col-2 d-flex align-items-end">
                        <div>
                            <label class="mb-1" for="sorting">Сортировка</label>
                            <div class="form-check" id="sorting">
                                <label class="form-check-label" for="sortByQuantity">
                                    По количеству
                                </label>
                                <input class="form-check-input" id="sortByQuantity" name="sortByQuantity"
                                       th:checked="${sortByQuantity}"
                                       type="radio"
                                       value="true">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="sortByCost">
                                    По сумме
                                </label>
                                <input class="form-check-input" id="sortByCost" name="sortByQuantity"
                                       th:checked="${!sortByQuantity}" type="radio"
                                       value="false">
                            </div>
                        </div>
                    </div>
                    <div class="form-check col-2 d-flex align-items-end">
                        <div>
                            <input class="form-check-input" id="includeZeros" name="includeZeros"
                                   th:checked="${includeZeros}"
                                   type="checkbox" value="true">
                            <label class="form-check-label" for="includeZeros">
                                Включать<br>незаказанные
                            </label>
                        </div>
                    </div>


                    <div class="col-2 d-flex align-items-end">
                        <button class="form-control btn btn-warning" style="bottom: 0" type="submit">Отобразить</button>
                    </div>
                    <div class="col-1 d-flex align-items-end">
                        <button class="form-control btn btn-warning" style="bottom: 0" type="submit">PDF</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-lg">
            <div class="row">
                <div class="col-20" th:object="${order}">
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-justify">Блюдо</th>
                                <th class="text-justify">Продано порций</th>
                                <th class="text-justify">Прибыль (грн.)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="detail, state : ${order.details}">
                                <td class="align-middle"><span th:if="${detail.dish!=null}"
                                                               th:text="${detail.dish.name}"></span></td>
                                <td class="align-middle"><span th:text="${detail.quantity}"></span></td>
                                <td class="align-middle"><span th:text="${detail.cost}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <span style="color:white; text-shadow: black 1px 1px 2px; font-size: 2rem">
            Итого за период: [[${order.getCost()}]]
        </span>
    </footer>
</div>
<!--<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/jquery.datetimepicker.full.min.js"></script>
<script>
    jQuery.datetimepicker.setLocale('ru');
    jQuery('#datetimeSince').datetimepicker({
        format:'d.m.Y H:i',
        value:0,
        mask: true
    });
    jQuery('#datetimeTill').datetimepicker({
        format:'d.m.Y H:i',
        value:0,
        mask: true
    });
</script>-->
</body>

</html>